<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>ExpertTech - Climatisation</title>

    <link href="../css/clim.css" rel="stylesheet">
</head>
<body>
<section class="about-section white-back">
    <div class="about-wrapper">
        <div class="inner-container">
            <div class="fade-img">
                <img src="../img/Ferrari-F-40-expertech.png"
                     class="about-image" alt="Image1">
            </div>
            <div class="about-text">
                <h1 class="about-title">Technologie de pointe</h1>
                <p class="about-paragraph mb-0">ExpertTech est à la pointe
                    de la technologie, proposant des équipements de qualité
                    afin de vous fournir un service exceptionnel. </p>
            </div>
        </div>

    </div>

    <div class="about-wrapper-2">
        <div class="inner-container-2">
            <div class="fade-img-2">
                <img src="../img/pexels-erik-mclean-4732635.jpg" alt="image 2">
            </div>
            <div class="about-text-2">
                <h1 class="about-title">Titre</h1>
                <p class="about-paragraph mb-0"> Deuxième explication ou
                    description de ton choix.</p>
            </div>
        </div>
    </div>
</section>


</body>
</html>