<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Expertise</h1>
<table>
    <tr>
        <th></th>
        <th> Nom</th>
        <th> Prénom</th>
    </tr>
    <tr>
        <th> Ligne 1</th>
        <td> Nom 1</td>
        <td> Prénom 1</td>
    </tr>
    <tr>
        <td> Ligne 2</td>
        <td> Nom 2</td>
        <td> Prénom 2</td>
    </tr>
    <tr>
        <th> Ligne 3</th>
        <td> Nom 3</td>
        <td> Prénom 3</td>
    </tr>
</table>
</body>
</html>