@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

/*
*{
color : #333333;
color : #634F5F;
color : #A46877;
color : #E08976;
color : #FFBA6A;
color : #F9F871;
}
*/

/*
section, html{
    background-color: #f6bd59;
}
*/

html {
    height: 100%;
    background-color: #333333;
}

footer {
    background-color: #333333;
    border-top: 1px solid #545454;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Exo 2", sans-serif;
}

a {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
    color: #030303;
}


/*********** NAVBAR ***********/

.background-dark {
    background-color: #202020;
!important;
}

.nav-link {
    color: black;
}

/*********** BANNER ***********/

.banner-height {
    height: 101vh;
}

.banner {
    background-color: #202020;
    background-size: cover;
    -webkit-background-size: cover;
}

.vh-50 {
    height: 50vh;
}

/*********** ABOUT-SECTION ***********/
#about-section {
    padding-top: 5rem;

}

.about-2 {
    display: flex;
}

.about-title {
    margin-bottom: 1rem;
}

/*********** ABOUT-SCROLL-ANIMATION ***********/

.js-scroll {
    opacity: 0;
    transition: opacity 1000ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.scrolled.slide-left-text {
    animation: slide-in-left 1.5s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.scrolled.slide-right {
    animation: slide-in-right 1.5s ease-in-out both;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-text {
    background-color: #333333;
    color: #fff;
}


/*********** DIVIDER ***********/

.h-divider {
    height: 1px;
    max-width: 100%;
    border-top: 1.5px solid gray;
    opacity: 0.5;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

/*********** MEDIA QUERIES ***********/

@media (max-width: 574.98px) {
    .img-responsive {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 575px) {
    .img-responsive {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .img-responsive {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {
    .img-responsive {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .img-responsive {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1400px) {
    .img-responsive {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1800px) {
    .modal-body {
        align-self: center;
    }

    .img-responsive {
        width: auto;
        height: 100%;
    }
}

/************************************************/

@media (max-width: 574.98px) {
    .company-name {
        font-size: 15vw;
    }

    .company-description {
        font-size: calc(0.5rem + 3vw);
    }

    .about-text {
        padding: 0 0 2rem 0;
        align-items: center;
        /*border-left: transparent;*/
    }

    #about-text {
        order: 2;
        padding: 2rem 0 2rem 0;
    }

    #about-image {
        order: 1;
    }

    #about-image-1 {
        margin-bottom: 2rem;
    }

    .about-cards {
        padding-top: 3rem;
        padding-bottom: 0rem;
    }

    .contact-content {
        padding: 0 0 2.5rem;
    }

    .contact-left-side {
        padding-right: 0;
    }

    .form-input {
        margin-top: 20px;
    }

    form {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

@media (min-width: 575px) {
    .company-name {
        font-size: 10vw;
    }

    .company-description {
        font-size: calc(0.6rem + 2vw);
    }

    .about-text {
        padding: 0 0 2rem 0;
        align-items: center;
        /*border-left: transparent;*/
    }

    .about-text-left {
        padding: 2rem 0 2rem 0;
        align-items: center;
        /*border-left: transparent;*/
    }

    .about-paragraph {
        font-size: calc(0.6rem + 1.5vw);
    }

    #about-text {
        order: 2;

    }

    #about-image {
        order: 1;
    }

    #about-image-1 {
        margin-bottom: 2rem;
    }

    .about-cards {
        padding-top: 3rem;
        padding-bottom: 0rem;
    }

    .contact-content {
        padding: 0 0 2.5rem;
    }

    h3 {
        font-size: calc(1rem + 1.5vw) !important;
    }

    .card-text {
        font-size: calc(0.8rem + 1vw)
    }

    .contact-left-side {
        padding-right: 0;
    }

    .form-input {
        margin-top: 20px;
    }

    form {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

@media (min-width: 768px) {
    .company-name {
        font-size: 10vw;
    }

    .company-description {
        font-size: 3vw;
    }

    .about-text {
        padding: 0 0 2rem 0;
        align-items: center;
        /*border-left: transparent;*/
    }

    .about-text-left {
        align-items: center;
        /*border-left: transparent;*/
    }

    .about-paragraph {
        font-size: calc(0.6rem + 1.5vw);
    }

    #about-text {
        order: 2;
    }

    #about-image {
        order: 1;
    }

    #about-image-1 {
        margin-bottom: 2rem;
    }

    .about-cards {
        padding-top: 3rem;
        padding-bottom: 0rem;
    }

    .contact-left-side {
        padding-right: 0;
    }

    .form-input {
        margin-top: 20px;
    }

    form {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

/*@media (max-width: 991.98px) {*/
/*}*/

@media (min-width: 992px) {
    .company-name {
        font-size: 7rem;
    }

    .company-description {
        font-size: 1.5rem;
    }


    .about-title {
        font-size: 1.9rem;
    }

    .about-paragraph {
        font-size: 1rem;
    }

    #about-image-1 {
        margin-bottom: 0rem;
    }


    .about-text {
        padding: 1rem 2rem 1rem 2rem;
        /*border-left: 0.5rem solid #84bbbb;*/
    }

    .about-text-left {
        font-size: 1.5rem;
        /*border-right: 0.5rem solid #84bbbb;*/
    }

    #about-text {
        padding: 0 2rem 0 0;
        order: 2;
    }

    #about-image {
        order: 2;
    }

    .about-cards {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contact-left-side {
        padding-right: 3vw;
    }

    .form-input {
        margin-top: 0px;
    }

    form {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (min-width: 1200px) {
    .company-name {
        font-size: 7rem;
    }

    .company-description {
        font-size: 1.3rem;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-paragraph {
        font-size: 1.1rem;
    }

    #about-image-1 {
        margin-bottom: 0rem;
    }

    .about-text-left {
        padding: 0 2rem 0 0;
        font-size: 1.5rem;
        /*border-right: 0.5rem solid #84bbbb;*/
    }

    #about-text {
        order: 1;
    }

    #about-title-1 {
        font-size: 2rem;
    }

    #about-image {
        order: 2;
    }

    .about-cards {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contact-left-side {
        padding-right: 3vw;
    }

    form {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
    }

}


@media (min-width: 1400px) {
    .company-name {
        font-size: 7rem;
    }

    .company-description {
        font-size: 1.4rem;
    }


    .about-title {
        font-size: 2.2vw;
    }

    .about-paragraph {
        font-size: 1.1vw;
    }

    #about-image-1 {
        margin-bottom: 0rem;
    }

    .about-text-left {
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1.5rem;
        /*border-right: 0.5rem solid #84bbbb;*/
    }

    #about-text {
        padding: 1rem 2rem 1rem 2rem;
        order: 1;
    }

    #about-title-1 {
        font-size: 2rem;
    }

    #about-image {
        order: 2;
    }

    .about-cards {
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    #contact-section {
        font-size: 2rem;
    }

    .gallery-images {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .contact-left-side {
        padding-right: 3vw;
    }

    form {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }

}

@media (min-width: 1800px) {
    .about-cards {
        margin-right: 15rem;
        margin-left: 15rem;
    }

    .gallery-images {
        margin-right: 15rem;
        margin-left: 15rem;
    }

    .about-title {
        font-size: 2.2vw;
    }

    .about-paragraph {
        font-size: 1.1vw;
    }

    .contact-left-side {
        padding-right: 3vw;
    }

    form {
        padding-left: 10vw !important;
        padding-right: 10vw !important;
    }
}

/*
.section{
    background: linear-gradient(180deg, rgba(89, 89, 89, 0.95), rgba(255, 255, 255, 1)); !important;
}
*/

/*********** ICONS ***********/

.fa-2x {
    font-size: 1rem !important;
    align-items: center !important;
    margin-right: 0.8rem !important;
}

/*********** MODAL ***********/

.modal-header {
    border-bottom: 0px;
!important;
}

/*********** CONTACT-SECTION ***********/

.contact-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    background: #333333;
    position: relative;
    align-items: center;
    justify-items: center;
    font-family: "Lato", sans-serif;
}


.about-section {
    padding-top: 8vw;
    padding-bottom: 8vw;
}

/*
.about-wrapper {
    display: flex;
    width: 100%;
}
*/

.custom-container {
    width: 85%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.row-custom{
    display: flex;
    flex-wrap: wrap;
}

.col-custom{
    flex: 1 0 0%;
    padding: 0 8% 0 8%;
}

.services-description {
    color: white;
    font-size: 1rem;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon {
    width: 3em;
    height: 3em;
    margin-right: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ffffff;
}

.svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.services-section{
    margin-bottom: 20px;
    padding: 50px 0 50px 0;
}

.inner-wrapper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.inner-wrapper > h1{
    display: inline-block;
    color: white;
    margin: auto 0 auto 0;
}

button{
    color: white;
    border: 2px white solid;
    border-radius: 5px;
    background-color: #dc5435;
    padding: 8px 20px 8px 20px;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
}

.text-align-center{
    text-align: center;
}

