@import url("https://fonts.googleapis.com/css?family=Roboto");


/*.carousel-inner > .carousel-item {*/
/*    height: 800px;*/
/*}*/
@import url("https://fonts.googleapis.com/css?family=Roboto");


/*.carousel-inner > .carousel-item {*/
/*    height: 800px;*/
/*}*/

.carousel-inner, .carousel-item, .carousel-item.active{
    height: 100%;
}

.bg-light{

}

/*
#carouselMain.container-fluid{
    padding-left: 0%;!important;
    padding-right: 0%;!important;
    margin-left: 0%;!important;
    margin-right: 0%;!important;
}
*/

.nav-link{
    color:black;
}

.banner-image{
    background-image: url("../img/Ferrari-F-40-expertech.png");
    background-size: cover;
}

.about-col-1{
    font-size: 2rem;
}


.h-divider{
    height:1px;
    max-width:100%;
    border-top:1.5px solid gray;
    opacity: 0.5;
}

.h-divider-card{
    margin-top:0.5rem;
    margin-bottom:0.5rem;

    height:1px;
    max-width:100%;
    border-top:1.5px solid gray;
    opacity: 0.5;
}

.company-name{
    font-family: 'Varela Round', sans-serif;"
}

/*.section{*/
/*    background: linear-gradient(180deg, rgba(89, 89, 89, 0.95), rgba(255, 255, 255, 1)); !important;*/
/*}*/


.fa-2x{
    font-size: 1rem !important;
    align-items: center !important;
    margin-right: 0.8rem !important;
}


@media (min-width: 1200px){
    .company-name{
        font-size: 110px;
    }
    .about-text{
        font-size: 50px;
    }
}

@media (max-width: 1199.98px){
    .company-name{
        font-size: 50px;
    }
    .about-text{
        font-size: 20px ;
    }
}
a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
}


